{% load news_tags %}

<div class="widget">
  <h2 class="widget-title">All Categories </h2>
  <div class="blog-list-widget">
      <div class="list-group">
          <a href="tech-single.html" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="w-100 justify-content-between">
                  <img src="upload/tech_blog_02.jpg" alt="" class="img-fluid float-left">


                  {% comment %} <h5 class="mb-1">Banana-chip chocolate cake recipe..</h5> {% endcomment %}

                  {% for new in news %}

                   {% for cat in new.category.all %}
               

                  <small class="firstsmall"><a class="bg-orange" href="{% url "news:category" category=cat.title %}" title="">{{cat.title}}</a></small>     

                  {% endfor %} 


                  {% endfor %}



{% comment %} 

{% for cat in categories %}
<small class="firstsmall"><a class="bg-orange" href="{% url "news:category" category=cat.title %}" title="">{{cat.title}}</a></small>     
{% endfor %} {% endcomment %}




                  <span class="rating">
                      <i class="fa fa-star"></i>

                  </span>


              </div>
          </a>

                

      </div>
  </div><!-- end blog-list -->
</div><!-- end widget -->
