

<div class="widget">
  <h2 class="widget-title">Recent Posts</h2>
  <div class="trend-videos">



{% for new in news %}


      <div class="blog-box">
          <div class="post-media">
              <a href="tech-single.html" title="">
                  <img src="{{new.image.url}}" alt="" class="img-fluid">
                  <div class="hovereffect">
                      <span class="videohover"></span>
                  </div><!-- end hover -->
              </a>
          </div><!-- end media -->
          <div class="blog-meta">
              <h4><a href="tech-single.html" title="">{{new.title}}</a></h4>
          </div><!-- end meta -->
      </div><!-- end blog-box -->

      <hr class="invis">


      {% endfor %}

      
      <!-- end blog-box -->
  </div><!-- end videos -->
</div><!-- end widget -->