{% load news_tags %}

<div class="widget">
  
    <div class="trend-videos">

<h2 style="border-radius:0px 15px 0px 15px;background-color:green;font-size:20px;height:50px;text-align:center;padding:5%" class="widget-title text-white">Recent News</h2>
  

{% for new in news %}


      <div class="blog-box bg-success" style="margin-top:-13px;">
          <div class="post-media">
              <a href="{% url "news:detail" num=new.id %}" title="">
                  <img src="{{new.image.url}}" alt="" class="img-fluid">
                  <div class="hovereffect">
                      <span class="videohover"></span>
                  </div><!-- end hover -->
              </a>
          </div><!-- end media -->
          <div class="blog-meta">
              <h5 style="text-align:center;padding-buttom:10px" ><a href="{% url "news:detail" num=new.id %}" title="">{{new.title | truncatechars:25}}</a></h5>
          </div><!-- end meta -->
      </div><!-- end blog-box -->

      <hr class="invis">


      {% endfor %}

      
      <!-- end blog-box -->
  </div><!-- end videos -->
</div><!-- end widget -->


